.image-container {
    margin-left: auto;
    margin-right: auto;
}

.image-container > img {
    max-height: 500px;
}

.image-container > p {
    text-align: center;
    visibility: hidden;
}

.image-container:hover > p {
    text-align: center;
    visibility: visible;
}

.main-content {
    background-color: lightcyan;
}

.nav-item-active {
    color: whitesmoke;
}

.navbar-toggler {
    color: whitesmoke;
}