html {
    background-color: lightcyan;
}

.heading {
    padding: 20px;
    text-align: center;
}

.image-container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.image-container > p {
    text-align: center;
    visibility: hidden;
}

.image-container:hover > p {
    text-align: center;
    visibility: visible;
}

.main-content {
    background-color: lightcyan;
}

#intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
}