html {
    background-color: lightcyan;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.buttons > button {
    background-color: lightsteelblue;
    border: 1px dashed cornflowerblue;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 3px;
}

.footer {
    padding: 5px;
    text-align: center;
}

.heading {
    padding: 15px;
    text-align: center;
}

.image-container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.image-container > p {
    text-align: center;
    visibility: hidden;
}

.image-container:hover > p {
    text-align: center;
    visibility: visible;
}

.main-content {
    background-color: lightcyan;
}

#intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
}